@model IEnumerable<ASIGNMENT_FPOLY.Models.Bill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <font><a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i></a> <span class="breadcrumb-item active">PRODUCT</span> <a class="breadcrumb-item" href="#">Product</a></font>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4>Bills</h4>
        <div class="m-t-25">
            <div id="data-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <div class="dataTables_length" id="data-table_length">
                                <label>Show <select name="data-table_length" aria-controls="data-table" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <select class="custom-select" asp-items="ViewBag.Category">
                                <option value="" disabled selected>Chose Category</option>
                                <option>View All</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <select class="custom-select" onchange="myFunction(this.value)">
                                <option value="" disabled selected>Chose Status</option>
                                <option value="In Stock">In Stock</option>
                                <option value="Out Stock">Out Stock</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div id="data-table_filter" class="dataTables_filter">
                                <label>
                                    Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="data-table" id="searchBox" oninput="handleTextChange(this.value)">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="productList">
                        @await Html.PartialAsync("View", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>