@model ASIGNMENT_FPOLY.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <font><a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i></a> <span class="breadcrumb-item active">PRODUCT</span> <a class="breadcrumb-item" asp-action="Index">Product</a><a class="breadcrumb-item" href="#">Create Product</a></font>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4>Create Product</h4>
        <div class="m-t-25">
            <div id="data-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Create" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-row">
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <label class="control-label">Name Product</label>
                                            <input asp-for="ProductName" class="form-control" />
                                            <span asp-validation-for="ProductName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="AvailableQuality" class="control-label"></label>
                                            <input asp-for="AvailableQuality" class="form-control" />
                                            <span asp-validation-for="AvailableQuality" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Price" class="control-label"></label>
                                            <input asp-for="Price" class="form-control" />
                                            <span asp-validation-for="Price" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3" style="">
                                        <div class="form-group" style="margin-left: 60px">
                                            <label class="control-label">Ảnh minh họa</label>
                                            <div class="card" style="max-width: 160px; max-height: 200px;">
                                                <img id="imgPreview" />
                                            </div>
                                            <input asp-for="Image" class="form-control" type="file" name="image" id="fileUpload" accept=".png, .jpg, .jpeg" onchange="previewImage()" style="max-width: 160px;"/>
                                            <span asp-validation-for="Image" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Brand</label>
                                        @Html.DropDownListFor(model => model.BrandId, ViewBag.Brand as SelectList, "--Select Brand--", new { @class = "form-control" })
                                        <span asp-validation-for="BrandId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Category</label>
                                        @Html.DropDownListFor(model => model.CategoryId, ViewBag.Category as SelectList, "--Select Category--", new { @class = "form-control" })
                                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Size</label>
                                        @Html.DropDownListFor(model => model.SizeId, ViewBag.Size as SelectList, "--Select Size--", new { @class = "form-control" })
                                        <span asp-validation-for="SizeId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Color</label>
                                        @Html.DropDownListFor(model => model.ColorId, ViewBag.Color as SelectList, "--Select Color--", new { @class = "form-control" })
                                        <span asp-validation-for="ColorId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Status" class="control-label"></label>
                                    <select asp-for="Status" class="form-control">
                                        <option value="1">In Stock</option>
                                        <option value="0">Out Stock</option>
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>

                        </div>
                    </div>
                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function previewImage() {
        var fileUpload = document.getElementById("fileUpload");
        var imgPreview = document.getElementById("imgPreview");
        if (fileUpload.files && fileUpload.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imgPreview.src = e.target.result;
            }
            reader.readAsDataURL(fileUpload.files[0]);
        }
    }
</script>

