@model IEnumerable<ASIGNMENT_FPOLY.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="layoutMain">
    <div class="card sidebarMain">
        <div class="main-sidebar-left">
            <div class="item-filter">
                <div class="cdt-filter__title">
                    Size
                </div>
                <div class="row" id="hang-san-xuat" data-toggle="collapse" data-target="#size"
                     aria-expanded="true">
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-size" type="checkbox" checked
                                   id="check-all-size">
                            <span class="form-check-label">
                                Tất cả
                            </span>
                        </label>
                    </div>
                    @foreach (Size item in ViewBag.ListSize)
                    {
                        <div class="col-sm-6 col-lg-6">
                            <label class="form-check">
                                <input class="form-check-input checkbox-item-size" type="checkbox" name="brand"
                                       value="@item.SizeName">
                                <span class="form-check-label">
                                    @item.SizeName
                                </span>
                            </label>
                        </div>
                    }
                </div>
                <hr>
            </div>
            <div class="item-filter">
                <div class="cdt-filter__title">
                    Color
                </div>
                <div class="row" id="color" data-toggle="collapse" data-target="#color" aria-expanded="true">
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-color" type="checkbox" checked
                                   id="check-all-color">
                            <span class="form-check-label">
                                Tất cả
                            </span>
                        </label>
                    </div>
                    @foreach (Color item in ViewBag.ListColor)
                    {
                        <div class="col-sm-6 col-lg-6">
                            <label class="form-check">
                                <input class="form-check-input checkbox-item-color" type="checkbox" name="color"
                                       value="@item.NameColor">
                                <span class="form-check-label">
                                    @item.NameColor
                                </span>
                            </label>
                        </div>
                    }

                </div>
                <hr>
            </div>
            <div class="item-filter">
                <div class="cdt-filter__title">
                    Price
                </div>
                <div class="row" id="price-filter">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox-item-price" type="radio" id="check-all-price" name="flexRadioDefault" checked="" autocompleted="">
                            <label class="form-check-label"> Tất cả </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox-item-price" type="radio" value="Dưới 200.000" name="flexRadioDefault">
                            <label class="form-check-label"> Dưới 200.000 </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox-item-price" type="radio" value="200.000 -> 400.000" name="flexRadioDefault" autocompleted="">
                            <label class="form-check-label"> 200.000 -&gt; 400.000 </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox-item-price" type="radio" value="400.000 -> 1.800.000" name="flexRadioDefault" autocompleted="">
                            <label class="form-check-label"> 400.000 -&gt; 1.800.000 </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-check">
                            <input class="form-check-input checkbox-item-price" type="radio" value="Trên 1.800.000" name="flexRadioDefault">
                            <label class="form-check-label"> Trên 1.800.000 </label>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center align-items-center mt-1" style="margin-left: -10px;">
                    <div class="row" style="width: 90%;">
                        <hr>
                        <div class="col-sm-5 col-lg-5">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Min">
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 29.6px;"></div><div class="form-notch-trailing"></div></div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-lg-2" style="display: flex; justify-content: center; align-items: center">
                            -
                        </div>
                        <div class="col-sm-5 col-lg-5">
                            <div class="form-outline">
                                <input type="text" class="form-control" placeholder="Max">
                                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 32.8px;"></div><div class="form-notch-trailing"></div></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-12 mt-2 mb-2 text-center">
                            <button type="button" class="btn btn-success" style="margin-left: auto; margin-right: auto">Áp dụng</button>
                        </div>
                        <hr>
                    </div>
                </div>

                <hr>
            </div>
        </div>
    </div>
    <div class="bodyMain">
        <div class="card m-b-30" style="background: #ffffff;">
            <div class="card-header">
                <div class="cdt-head">
                    <h1 class="cdt-head__title">Giầy</h1>
                    <span>(322 sản phẩm)</span>
                </div>
            </div>
            <div class="cdt-list-tag" style="display: none;">
                <span>Lọc theo: </span>
                <div class="wrapper-tag">
                    <div class="content">
                        <ul class="ul-tag"><input class="input-tag" type="text" spellcheck="false" readonly></ul>
                    </div>
                </div>
            </div>
            <div class="container slide-show">
                <section class="customer-logos slider">
                    <div class="slide">
                        <img src="https://lh6.googleusercontent.com/yydj-C66k_K1bRs6cKW2LWecPIp9O_XqOoyIl8HvpJPgiV_38cWadVs67cRwtQpAZ-jgMcs3NMJLEqCDHD3CepoIRCUuFo_REqHJUrlBCNOpZ1K8pWmqnso-v6g-9BfL8tA8ogRD=s0">
                    </div>
                    <div class="slide">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3dV9I8f69fc-A1FNUNVRGPB6CrhLlPjDrpg&usqp=CAU">
                    </div>
                    <div class="slide">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStuHpJ0lhvkd_0A1-0fs9BhuHQ8fzk9hYUUw&usqp=CAU">
                    </div>
                    <div class="slide">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZPcZeQJzfGkcEGjb7YESm26z8xDy3wXYY7g&usqp=CAU">
                    </div>
                    <div class="slide">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkteMLQZqFLfz8M7qy9xPPERRwY-wKypz0IA&usqp=CAU">
                    </div>
                    <div class="slide">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFWZ_C2VqyiWNDc57gT_LWdsALS3FvaVE1SMTLIw_pQPU1s4gJoPRXTLljLrpoJePf1T4&usqp=CAU">
                    </div>
                    <div class="slide">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNxO6yQnT8DLIjro0tpOaC8CBJRi7yWJnOS3lAhJefDxd7h__8c-ngljPurxWGGNdsMmA&usqp=CAU">
                    </div>

                </section>
            </div>
        </div>

        <!-- card-item -->
        <div class="card fplistbox" style="margin-top: 20px;min-height:800px">
            <div id="ShowListPro">
                @await Html.PartialAsync("ViewPro", Model)
            </div>
        </div>

    </div>
</section>