@model IEnumerable<ASIGNMENT_FPOLY.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container layoutMain">
    <div class="card sidebarMain">
        <div class="main-sidebar-left">
            <div class="item-filter">
                <div class="cdt-filter__title">
                    Hãng
                    sản xuất
                </div>
                <div class="row" id="hang-san-xuat" data-toggle="collapse" data-target="#hang-san-xuat"
                     aria-expanded="true">
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-brand" type="checkbox" checked
                                   id="check-all-brand">
                            <span class="form-check-label">
                                Tất cả
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-brand" type="checkbox" name="brand"
                                   value="Nike">
                            <span class="form-check-label">
                                Nike
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-brand" type="checkbox" name="brand"
                                   value="Adidas">
                            <span class="form-check-label">
                                Adidas
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-brand" type="checkbox" name="brand"
                                   value="Gusi">
                            <span class="form-check-label">
                                Gusi
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-brand" type="checkbox" name="brand"
                                   value="Hamic">
                            <span class="form-check-label">
                                Hamic
                            </span>
                        </label>
                    </div>
                </div>
                <hr>
            </div>
            <div class="item-filter">
                <div class="cdt-filter__title">
                    Color
                </div>
                <div class="row" id="color" data-toggle="collapse" data-target="#color" aria-expanded="true">
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-color" type="checkbox" checked
                                   id="check-all-color">
                            <span class="form-check-label">
                                Tất cả
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-color" type="checkbox" name="color"
                                   value="Xanh">
                            <span class="form-check-label">
                                Xanh
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-color" type="checkbox" name="color"
                                   value="Đỏ">
                            <span class="form-check-label">
                                Đỏ
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-color" type="checkbox" name="color"
                                   value="Tím">
                            <span class="form-check-label">
                                Tím
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-color" type="checkbox" name="color"
                                   value="Vàng">
                            <span class="form-check-label">
                                Vàng
                            </span>
                        </label>
                    </div>
                </div>
                <hr>
            </div>
            <div class="item-filter">
                <div class="cdt-filter__title">
                    Price
                </div>
                <div class="row" id="price-filter" data-toggle="collapse" data-target="#price" aria-expanded="true">
                    <div class="col-sm-6 col-lg-6">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-price" type="checkbox" checked
                                   id="check-all-price">
                            <span class="form-check-label">
                                Tất cả
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-price" type="checkbox" value="Dưới 200.000">
                            <span class="form-check-label">
                                Dưới 200.000
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-price" type="checkbox" value="200.000 -> 400.000">
                            <span class="form-check-label">
                                200.000 -> 400.000
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-price" type="checkbox" value="400.000 -> 1.900.000">
                            <span class="form-check-label">
                                400.000 -> 1.900.000
                            </span>
                        </label>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <label class="form-check">
                            <input class="form-check-input checkbox-item-price" type="checkbox" value="Trên 1.900.000">
                            <span class="form-check-label">
                                Trên 1.900.000
                            </span>
                        </label>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="bodyMain">
        <div class="card m-b-30" style="background: #ffffff;">
            <div class="card-header">
                <div class="cdt-head">
                    <h1 class="cdt-head__title">Giầy</h1>
                    <span>(322 sản phẩm)</span>
                </div>
            </div>
            <div class="cdt-list-tag" style="display: none;">
                <span>Lọc theo: </span>
                <div class="wrapper-tag">
                    <div class="content">
                        <ul class="ul-tag"><input class="input-tag" type="text" spellcheck="false" readonly></ul>
                    </div>
                </div>
            </div>
            <div class="container slide-show">
                <section class="customer-logos slider">
                    <div class="slide">
                        <img src="https://lh6.googleusercontent.com/yydj-C66k_K1bRs6cKW2LWecPIp9O_XqOoyIl8HvpJPgiV_38cWadVs67cRwtQpAZ-jgMcs3NMJLEqCDHD3CepoIRCUuFo_REqHJUrlBCNOpZ1K8pWmqnso-v6g-9BfL8tA8ogRD=s0">
                    </div>
                    <div class="slide">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3dV9I8f69fc-A1FNUNVRGPB6CrhLlPjDrpg&usqp=CAU">
                    </div>
                    <div class="slide">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStuHpJ0lhvkd_0A1-0fs9BhuHQ8fzk9hYUUw&usqp=CAU">
                    </div>
                    <div class="slide">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZPcZeQJzfGkcEGjb7YESm26z8xDy3wXYY7g&usqp=CAU">
                    </div>
                    <div class="slide">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkteMLQZqFLfz8M7qy9xPPERRwY-wKypz0IA&usqp=CAU">
                    </div>
                    <div class="slide">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFWZ_C2VqyiWNDc57gT_LWdsALS3FvaVE1SMTLIw_pQPU1s4gJoPRXTLljLrpoJePf1T4&usqp=CAU">
                    </div>
                    <div class="slide">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNxO6yQnT8DLIjro0tpOaC8CBJRi7yWJnOS3lAhJefDxd7h__8c-ngljPurxWGGNdsMmA&usqp=CAU">
                    </div>

                </section>
            </div>
        </div>

        <!-- card-item -->
        <div class="card fplistbox" style="margin-top: 20px;">
            <div style="margin-top: 10px; width: 95%; margin-right: auto; margin-left: auto;">
                <div class="dropdown" style="width: 20%; margin-left: 80%;">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div id="ShowListPro">
                @await Html.PartialAsync("ViewPro", Model)
            </div>
        </div>

    </div>
</section>