@model IEnumerable<ASIGNMENT_FPOLY.Models.Product>

<div class="justify-content-center"
     style="width: 98%; margin-top: 10px;margin-left: auto; margin-right: auto;">
    <div class="cards">
        @foreach (var item in Model)
        {
            <div class="card  my-card-style">
                <div class="card-image">
                    <img src="/assets/images/others/@item.Image" class="item-image-card-1" />
                    <img src="https://lh3.googleusercontent.com/-WQdbBAEEKEM/YY2vNpTZK5I/AAAAAAAA0g0/M6LMcweuYNYn-KKW7seqA3MWwvk6XhrNgCNcBGAsYHQ/h240/12.png"
                         style="position: absolute; width: 100%;height: 100%;" />
                </div>
                <div class="card-content">
                    <div class="card-top">
                        <h3 class="card-title">@item.ProductName</h3>
                        <div style="margin-bottom:6px" class="uDeVr">
                            <div class="full-rating">
                                <div class="total">
                                    <span style="font-size: 17px">4.8</span>
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                         viewBox="0 0 24 24" size="14" color="#fdd836" style="color:#fdd836"
                                         height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <div class="boder-doc" style="font-size: 17px"></div>
                            <div class="da-ban" style="font-size: 17px">Đã bán 185</div>
                        </div>
                        <div class="price-discount">
                            <div class="price-discount__price">23.500<sup> ₫</sup></div>
                        </div>
                        <div class="badge-under-rating">
                            <div class="item">
                                <span style="font-size: 12px">Nhiều màu</span>
                            </div>
                        </div>
                        <div class="card-user">

                        </div>
                    </div>
                    
                    <div class="card-bottom">
                        <div class="d-flex justify-content-space-between">
                            <button class="btn btn-primary btn-lg form-group" style="flex: 1;margin-right:10px" onclick="location.href='@Url.Action("Details", "Home",new {id=item.Id})'">
                                Mua ngay
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>