@model IEnumerable<ASIGNMENT_FPOLY.Models.Size>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <font><a href="#" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i></a> <span class="breadcrumb-item active">Property of Product</span> <a class="breadcrumb-item" href="#">Size</a></font>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h4>Sizes</h4>
        <p>
            <a class="btn btn-icon btn-hover btn-sm btn-rounded" asp-action="Create">
                <i class="anticon anticon-plus"></i>
            </a>Creat Size
        </p>
        <div class="m-t-25">
            <div id="data-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12">
                    <div class="row">
                        //Search or select
                    </div>
                    <div id="productList">
                        @await Html.PartialAsync("View", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>